<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script>
	// Initialize Firebase
	var config = {
	  apiKey: "AIzaSyAuiK-z-LjCHLMYHh8uUY39oz70Y52qR4A",
	  authDomain: "private-wiki-fb21d.firebaseapp.com",
	  databaseURL: "https://private-wiki-fb21d.firebaseio.com",
	  projectId: "private-wiki-fb21d",
	  storageBucket: "private-wiki-fb21d.appspot.com",
	  messagingSenderId: "1068095917681"
	};
firebase.initializeApp(config);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
	function replaceWikiLink(query) {
	  var content = document.querySelector(query);
	  content.innerHTML = content.innerHTML.replace(/\[\[(.+?)\]\]\{(.+?)\}/g, '<a href="/wiki/$1">$2</a>');
	  content.innerHTML = content.innerHTML.replace(/\[\[(.+?)\]\]/g, '<a href="/wiki/$1">$1</a>');
	}

	</script>
	<script>
		(function() {
			var cx = '017339752866274165371:yklwfrygbnm';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		})();
	</script>
	<gcse:search></gcse:search>
  {%- include head.html -%}

  <body>

	{%- include header.html -%}

	<main class="page-content" aria-label="Content">
	<div class="wrapper">
	  {{ content }}

	</main>
	{%- include footer.html -%}

  </body>

</html>
