<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        function replaceWikiLink(query) {
            var content = document.querySelector(query);
            content.innerHTML = content.innerHTML.replace(/\[\[(.+?)\]\]\{(.+?)\}/g, '<a href="wiki/$1">$2</a>');
            content.innerHTML = content.innerHTML.replace(/\[\[(.+?)\]\]/g, '<a href="wiki/$1">$1</a>');
        }

    </script>
    {%- include head.html -%}

    <body>

        {%- include header.html -%}

        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

        {%- include footer.html -%}

    </body>

</html>
