---
layout: default
---


<div class="home">
    <h2 class="page-heading">최근 업데이트</h2>
    {% assign wikis = site.wiki | sort: 'updated' | reverse %}
    {% assign count = 0 %}
    {% assign maxCount = 5 %}
    {% for item in wikis %}
    {% if item.updated and count < maxCount %}
    <p>
    <a href='{{ item.url }}'>{{ item.title }}</a>({{ item.updated | date: '%Y년 %m월 %d일' }})
    {% assign count = count | plus: 1 %}
    {% endif %}
    <p>
    {% endfor %}
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {% else %}
    <h1 class="page-heading">Wiki</h1>
    {%- endif -%}

    <wiki class=index>
        {{ content }}
    </wiki>
    <script>
        replaceWikiLink('wiki.index');
    </script>
</div>
